.about__top__tel {
  text-decoration: none;
  color: #000d6b;
  font-weight: 600;
  margin-bottom: 0;
  font-size: 1.6rem;
}

@media only screen and (max-width: 992px) {
  .about__page-content h2 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 767px) {
  .about__page-img {
    display: none;
  }
}
